
.custom-red .main-header .navbar {
    /* background-color: #A71717;*/
    background-color: orange;
}

    .custom-red .main-header .navbar .nav > li > a {
        color: #ffffff;
    }

        .custom-red .main-header .navbar .nav > li > a:hover,
        .custom-red .main-header .navbar .nav > li > a:active,
        .custom-red .main-header .navbar .nav > li > a:focus,
        .custom-red .main-header .navbar .nav .open > a,
        .custom-red .main-header .navbar .nav .open > a:hover,
        .custom-red .main-header .navbar .nav .open > a:focus,
        .custom-red .main-header .navbar .nav > .active > a {
            background: rgba(0, 0, 0, 0.1);
            color: #f6f6f6;
        }

    .custom-red .main-header .navbar .sidebar-toggle {
        color: #ffffff;
    }

        .custom-red .main-header .navbar .sidebar-toggle:hover {
            color: #f6f6f6;
            background: rgba(0, 0, 0, 0.1);
        }

    .custom-red .main-header .navbar .sidebar-toggle {
        color: #fff;
    }

        .custom-red .main-header .navbar .sidebar-toggle:hover {
            background-color: #2A2727;
            color: #A71717;
        }

@media (max-width: 767px) {
    .custom-red .main-header .navbar .dropdown-menu li.divider {
        background-color: rgba(255, 255, 255, 0.1);
    }

    .custom-red .main-header .navbar .dropdown-menu li a {
        color: #fff;
    }

        .custom-red .main-header .navbar .dropdown-menu li a:hover {
            background: #367fa9;
        }
}

.custom-red .main-header .logo {
    background-color: #2A2727;
    color: #A71717;
    border-bottom: 0 solid transparent;
}

    .custom-red .main-header .logo:hover {
        background-color: #A71717;
        color: #ffffff;
        
    }

.custom-red .main-header li.user-header {
    background-color: #3c8dbc;
}

.custom-red .content-header {
    background: transparent;
}

.custom-red .wrapper,
.custom-red .main-sidebar,
.custom-red .left-side {
    background-color: #222d32;
}

.custom-red .user-panel > .info,
.custom-red .user-panel > .info > a {
    color: #fff;
}

.custom-red .sidebar-menu > li.header {
    color: #4b646f;
    background: #1a2226;
}

.custom-red .sidebar-menu > li > a {
    border-left: 3px solid transparent;
}

.custom-red .sidebar-menu > li:hover > a,
.custom-red .sidebar-menu > li.active > a,
.custom-red .sidebar-menu > li.menu-open > a {
    color: #ffffff;
    background: #1e282c;
}

.custom-red .sidebar-menu > li.active > a {
    border-left-color: #A71717;
}

.custom-red .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #2c3b41;
}

.custom-red .sidebar a {
    color: #b8c7ce;
}

    .custom-red .sidebar a:hover {
        text-decoration: none;
    }

.custom-red .sidebar-menu .treeview-menu > li > a {
    color: #8aa4af;
}

    .custom-red .sidebar-menu .treeview-menu > li.active > a,
    .custom-red .sidebar-menu .treeview-menu > li > a:hover {
        color: #ffffff;
    }

.custom-red .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;
}

    .custom-red .sidebar-form input[type="text"],
    .custom-red .sidebar-form .btn {
        box-shadow: none;
        background-color: #374850;
        border: 1px solid transparent;
        height: 35px;
    }

    .custom-red .sidebar-form input[type="text"] {
        color: #666;
        border-top-left-radius: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 2px;
    }

        .custom-red .sidebar-form input[type="text"]:focus,
        .custom-red .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
            background-color: #fff;
            color: #666;
        }

            .custom-red .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
                border-left-color: #fff;
            }

    .custom-red .sidebar-form .btn {
        color: #999;
        border-top-left-radius: 0;
        border-top-right-radius: 2px;
        border-bottom-right-radius: 2px;
        border-bottom-left-radius: 0;
    }

.custom-red.layout-top-nav .main-header > .logo {
    background-color: #3c8dbc;
    color: #ffffff;
    border-bottom: 0 solid transparent;
}

    .custom-red.layout-top-nav .main-header > .logo:hover {
        background-color: #3b8ab8;
    }
