@model DCRSystem.CustomViewModel.PartialViewModel
@foreach (var emp in Model.EmployeeDCR_Vws)
{
    <tr>
        <td>@emp.Employee_ID</td>
        <td>@emp.Last_Name , @emp.First_Name</td>
        <td><a>See more</a></td>
    </tr>
}