
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Testing2</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/Wave.css">
</head>
<body>
    <div class="typewriter">
        <h1>The cat and the hat.</h1>
    </div>
</body>
</html>
